# KiCad
*.kicad_prl
*-backups/
fp-info-cache
*.kicad_sch-bak
*.kicad_pcb-bak
*kicad_pro.lck
*kicad_pcb.lck
.history/
_autosave-*

# Rust / Cargo
firmware/target/

# OS / editor junk
.DS_Store
Thumbs.db
desktop.ini
*.swp
*.swo
*~
